@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

.momo-signature-regular {
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
}

.bg-maroon {
    background-color: #9E1C60;
}